@import '@myntra/uikit-design';

.item {
  display: inline-block;
  padding: 0 ui-relative-size('xs');
  cursor: pointer;
}

.icon {
  margin-right: ui-relative-size('2xs');
  color: ui-text-color('dark');
}
