@import '@design';

.page {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .nav {
    z-index: 2;
    width: 56px;
    height: 100%;
    overflow: visible;
  }

  .container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .main {
    flex: 1;
  }
}
