@import '@accoutrement';

.form {
  .title {
    @include typography('h4');

    padding-bottom: padding-bottom('default');
  }

  .actions {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
}
