@import '@myntra/tokens/tokens.css';

.button,
.button:visited {
  padding: var(--relative-size-x-small) var(--relative-size-large);
  border-radius: var(--relative-size-large);
  border-style: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  transition: box-shadow 0.3s, background-image 0.3s;
  align-self: center;
}

.button + .button {
  margin-left: var(--relative-size-x-small);
}

.button[disabled],
.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus:not(:active),
.button:hover:not(:active):not([disabled]),
.button:hover:not(:active):not(:disabled) {
  box-shadow: var(--shadow-light-small);
}

.primary,
.primary:visited {
  color: var(--typography-color-light-primary);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.primary[disabled] {
  background-color: var(--color-gray-dark);
}

.primary:focus,
.primary:active:not([disabled]),
.primary:active:not(:disabled), {
  background-image: linear-gradient(var(--color-black-x-light), var(--color-black-x-light));
}

.secondary,
.secondary:visited {
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  background-color: var(--color-transparent-base);
}

.secondary[disabled],
.secondary:disabled {
  color: var(--color-gray-dark);
  border-color: var(--color-gray-dark);
}

.secondary:active:not([disabled]),
.secondary:active:not(:disabled) {
  background-image: linear-gradient(var(--color-white-x-light), var(--color-white-x-light));
}

.left,
.right {
  display: inline-block;
}

.left {
  margin-right: 0.5em;
}

.right {
  margin-left: 0.5em;
}
