@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.input {
  @include mixin-input-component();

  width: 100%;
  vertical-align: baseline;
}

.no-resize {
  resize: none;
}
