@import '@myntra/tokens/tokens.css';

.day {
  ---size: 2.5rem;

  display: inline-flex;
  width: var(---size);
  height: var(---size);
  justify-content: center;
  align-items: center;
  margin: 0.125rem 0;
  transition: all 250ms;
  user-select: none;
}

.today {
  color: var(--color-primary);
}

.focused {
  box-shadow: var(--shadow-light-small);
}

.focused:not(.selected) {
  border-radius: var(---size);
}

.selected {
  color: var(--typography-color-light-primary);
  background-color: var(--color-primary);
}

.selected.start {
  border-top-left-radius: var(---size);
  border-bottom-left-radius: var(---size);
}

.selected.end {
  border-top-right-radius: var(---size);
  border-bottom-right-radius: var(---size);
}

.day[disabled] {
  cursor: not-allowed;
  color: var(--typography-color-dark-disabled);
}

.selected[disabled] {
  background-color: var(--color-gray-dark);
}

.empty {
  color: transparent;
}
