@import '@accoutrement';

.group {
  @include margin('tab.group');

  background-color: color('white');
}

.pane {
  margin-bottom: margin-bottom('small');
  border-color: color('tab.border');
  border-bottom: border('tab.pane');
}
