@import '@design';

.title {
  margin-top: 0;
  margin-bottom: 24px;
}

.wrapper {
  min-width: 320px;
  min-height: 320px;
  padding: ui-size('l');
  background: ui-color('white');
}

.actions {
  padding-top: ui-size('l');
  margin-top: ui-size('l');
  text-align: right;
  border-top: 1px solid ui-color('gray', 'dark');
}
