@import '@myntra/uikit/design.scss';

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

pre {
  overflow: auto;
}

blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-left: 1rem;

  border-left: 4px solid #ccc;
}

#app,
.layout-container {
  height: 100%;
}

.layout-main {
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.anchor-link {
  margin-right: 4px;
  margin-left: -20px;
  transition: opacity 0.35s fade-in;
  opacity: 0;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link,
.anchor-link:hover {
  opacity: 1;
}

a[href^='#'] {
  height: 28px;
  display: inline-block;
}

h1 {
  @include use-text-style('h1');
}
h2 {
  @include use-text-style('h2');
}
h3 {
  @include use-text-style('h3');
}
h4 {
  @include use-text-style('h4');
}
p,
article,
section {
  @include use-text-style('p');
}
