@import '@accoutrement';

.badge {
  display: inline-block;
  padding: size('small') size('2x');
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 1rem;

  @include typography('paragraph');

  $types: (
    'primary': 'primary',
    'success': 'success',
    'error': 'danger',
    'warning': 'warning',
  );

  @each $name, $color in $types {
    &.#{$name} {
      color: color('#{$color}-dark-2');
      background-color: color('#{$color}-light-2');
      border-color: color('#{$color}-dark-2');
    }
  }
}
