@import '@myntra/uikit-design';

.badge {
  display: inline-block;
  padding: 0 ui-context-size('xs');
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 1rem;

  @include use-text-style(caption);

  $types: (
    primary: primary,
    success: green,
    error: red,
    warning: yellow
  );

  @each $name, $color in $types {
    &.#{$name} {
      color: ui-text-color($color);
      background-color: ui-color($color, lighter);
      border-color: ui-color($color);
    }
  }
}
