
.badge {
  display: inline-block;
  border-radius: 1rem;
  border: solid 1px;
  padding: 0 ui-context-size('xs');

  @include use-text-style(caption);

  $types: (
    primary: primary,
    success: green,
    error: red,
    warning: yellow
  );

  @each $name, $color in $types {
    &.#{$name} {
      background-color: ui-color($color, lighter);
      border-color: ui-color($color);
      color: ui-text-color($color);
    }
  }
}

.content {
  font-size: var(--typography-text-caption-font-size);
  font-weight: var(--typography-text-caption-font-weight);
  color: var(--typography-color-dark-primary);
}
