@import '@accoutrement';

.badge {
  display: inline-block;
  padding: size('small') size('2x');
  text-transform: uppercase;
  border: solid 1px;
  border-radius: 1rem;

  @include typography('paragraph');

  $types: (
    'primary': 'primary',
    'success': 'success',
    'error': 'danger',
    'warning': 'warning',
    'incomplete': 'gray-dark-3',
  );

  @each $name, $color in $types {
    &.#{$name} {
      color: color('white');
      background-color: color('#{$color}');
      border-color: color('#{$color}');
    }
  }
}

@include media-breakpoint-down('sm') {
  .badge {
    padding: size('small') / 2 size('2x');

    @include typography('caption');
  }
}
