@import '@design';

.simple {
  overflow: hidden;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .table {
    z-index: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    th {
      position: sticky;
      top: var(--sticky-top-offset, 0);
      background-color: #ddd;
    }

    td {
      background-color: #fff;
    }

    tr:nth-child(2n) td {
      background-color: #f8f8f8;
    }
  }

  .fixed {
    position: sticky;
    left: var(--sticky-left-offset, 0);
    z-index: 1;
  }

  th.fixed {
    z-index: 2;
  }
}
