@import './helper';

// -- Row --
.container {
  --column-gap: #{ui-size(r)};
  --column-inset: calc(var(--column-gap) / 2);
  --column-outset: calc(1 - var(--column-gap) / 2);

  box-sizing: border-box;
  display: flex;
  margin-right: var(--column-outset);
  margin-left: var(--column-outset);

  &.hcentered,
  &.centered {
    justify-content: center;
  }
  &.multiline {
    flex-wrap: wrap;
  }
  &.vcentered,
  &.centered {
    align-items: center;
  }
  &.gapless .column {
    --column-gap: 0;
  }

  &.variable-gap {
    --column-gap: #{ui-size(r)};

    $sizes: (
      'none': 0,
      'xx-small': ui-size('2xs'),
      'x-small': ui-size('xs'),
      'small': ui-size('s'),
      'base': ui-size('r'),
      'large': ui-size('l'),
    );

    @each $size, $value in $sizes {
      &.gap-#{$size} {
        --column-gap: #{$value};
      }
    }
  }
}
