@import '@design';

.id {
  margin-bottom: 10px;
  font-weight: bold;
  color: ui-text-color('dark');
}

.text {
  color: ui-text-color('dark', 'mid-emphasis');

  @include use-text-style('small');
}

.description {
  padding: 14px 0 20px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.files {
  padding-left: 20px;
}

.file {
  display: inline-block;

  &.success {
    color: ui-text-color('green');
  }

  &.error {
    color: ui-text-color('red');
  }
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status i {
  text-transform: capitalize;
}
