@import '@accoutrement';

.job {
  @include margin-bottom('medium');

  box-shadow: shadow('job-tracker');
}

.date {
  @include margin('job-tracker.group');

  font-weight: bolder;
  color: text-color('dark');
}
