$-colors: (
  'primary': (
    'dark': hsl(244, 47, 32),
    'base': hsl(244, 54, 53),
    'text': hsla(244, 54, 53, 0.87),
    'light': hsl(244, 54, 72),
    'lighter': hsl(244, 54, 93),
    'lightest': undefined,
  ),
  'green': (
    'dark': hsl(137, 31, 33),
    'base': hsl(138, 38, 55),
    'text': hsla(138, 38, 55, 0.87),
    'light': hsl(137, 38, 73),
    'lighter': hsl(139, 38, 89),
    'lightest': undefined,
  ),
  'yellow': (
    'dark': hsl(40, 48, 38),
    'base': hsl(39, 84, 64),
    'text': hsla(39, 84, 64, 0.87),
    'light': hsl(40, 84, 78),
    'lighter': hsl(40, 83, 91),
    'lightest': undefined,
  ),
  'red': (
    'dark': hsl(2, 34, 37),
    'base': hsl(1, 56, 62),
    'text': hsla(1, 56, 62, 0.87),
    'light': hsl(2, 56, 77),
    'lighter': hsl(2, 55, 90),
    'lightest': undefined,
  ),
  'gray': (
    'dark': hsl(0, 0, 83),
    'base': hsl(0, 0, 90),
    'text': hsla(0, 0, 90, 0.87),
    'light': hsl(0, 0, 93),
    'lighter': hsl(220, 22, 96),
    'lightest': hsl(0, 0, 98),
  ),
);
$-text-colors: (
  'dark': (
    'default': rgba(0, 0, 0, 0.87),
    'disabled': rgba(0, 0, 0, 0.27),
    'mid-emphasis': rgba(0, 0, 0, 0.54),
  ),
  'light': (
    'default': rgba(255, 255, 255, 0.87),
    'disabled': rgba(255, 255, 255, 0.27),
    'mid-emphasis': rgba(255, 255, 255, 0.54),
  ),
);
$-font-faces: (
  'default': (
    Roboto,
    sans-serif,
  ),
);
$-shadows: (
  'flat': none,
  'raised': 0 3px 11px 0 rgba(0, 0, 0, 0.21),
);
$-text-styles: (
  'title': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 28px,
    'font-weight': 700,
  ),
  'h1': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 24px,
    'font-weight': 400,
  ),
  'h2': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 20px,
    'font-weight': 500,
  ),
  'h3': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 16px,
    'font-weight': 400,
  ),
  'h4': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 14px,
    'font-weight': 700,
  ),
  'body': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 14px,
    'font-weight': 400,
  ),
  'p': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 400,
  ),
  'paragraph': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 400,
  ),
  'caption': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 10px,
    'font-weight': 400,
  ),
  'button': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 500,
    'text-transform': uppercase,
  ),
  'text-link': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 500,
    'text-transform': uppercase,
  ),
);
$-sizes: (
  '2xs': 4px,
  'xs': 8px,
  's': 12px,
  'r': 16px,
  'm': 20px,
  'l': 24px,
  'xl': 32px,
  '2xl': 40px,
);
$-vertical-grid-size: 16px;
