$-tokens-colors-primary: hsl(244, 54, 53);
$-tokens-colors-success: hsl(138, 38, 55);
$-tokens-colors-warning: hsl(39, 84, 64);
$-tokens-colors-danger: hsl(1, 56, 62);
$-tokens-colors-gray: hsl(0, 0, 90);
$-tokens-colors: (
  'primary-dark': hsl(244, 47, 32),
  'primary-base': hsl(244, 54, 53),
  'primary-text': hsla(244, 54, 53, 0.87),
  'primary-light': hsl(244, 54, 72),
  'primary-lighter': hsl(244, 54, 93),
  'primary-lightest': undefined,
  'success-dark': hsl(137, 31, 33),
  'success-base': hsl(138, 38, 55),
  'success-text': hsla(138, 38, 55, 0.87),
  'success-light': hsl(137, 38, 73),
  'success-lighter': hsl(139, 38, 89),
  'success-lightest': undefined,
  'warning-dark': hsl(40, 48, 38),
  'warning-base': hsl(39, 84, 64),
  'warning-text': hsla(39, 84, 64, 0.87),
  'warning-light': hsl(40, 84, 78),
  'warning-lighter': hsl(40, 83, 91),
  'warning-lightest': undefined,
  'danger-dark': hsl(2, 34, 37),
  'danger-base': hsl(1, 56, 62),
  'danger-text': hsla(1, 56, 62, 0.87),
  'danger-light': hsl(2, 56, 77),
  'danger-lighter': hsl(2, 55, 90),
  'danger-lightest': undefined,
  'gray-dark': hsl(0, 0, 83),
  'gray-base': hsl(0, 0, 90),
  'gray-text': hsla(0, 0, 90, 0.87),
  'gray-light': hsl(0, 0, 93),
  'gray-lighter': hsl(220, 22, 96),
  'gray-lightest': hsl(0, 0, 98),
);
$-tokens-text-colors: (
  'dark': (
    'default': rgba(0, 0, 0, 0.87),
    'disabled': rgba(0, 0, 0, 0.27),
    'mid-emphasis': rgba(0, 0, 0, 0.54),
  ),
  'light': (
    'default': rgba(255, 255, 255, 0.87),
    'disabled': rgba(255, 255, 255, 0.27),
    'mid-emphasis': rgba(255, 255, 255, 0.54),
  ),
);
$-tokens-font-faces: (
  'default': (
    Roboto,
    sans-serif,
  ),
);
$-tokens-shadows: (
  'flat': none,
  'raised': 0 3px 11px 0 rgba(0, 0, 0, 0.21),
);
$-tokens-text-styles: (
  'title': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 28px,
    'font-weight': 700,
  ),
  'h1': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 24px,
    'font-weight': 400,
  ),
  'h2': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 20px,
    'font-weight': 500,
  ),
  'h3': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 16px,
    'font-weight': 400,
  ),
  'h4': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 14px,
    'font-weight': 700,
  ),
  'body': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 14px,
    'font-weight': 400,
  ),
  'p': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 400,
  ),
  'paragraph': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 400,
  ),
  'caption': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 10px,
    'font-weight': 400,
  ),
  'button': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 500,
    'text-transform': uppercase,
  ),
  'text-link': (
    'font-family': (
      Roboto,
      sans-serif,
    ),
    'font-size': 12px,
    'font-weight': 500,
    'text-transform': uppercase,
  ),
);
$-tokens-sizes: (
  '2xs': 4px,
  'xs': 8px,
  's': 12px,
  'r': 16px,
  'm': 20px,
  'l': 24px,
  'xl': 32px,
  '2xl': 40px,
);
$-tokens-vertical-grid-size: 16px;
