@mixin mixin-input-component {
  padding: padding('input');
  font-size: inherit;
  color: text-color('dark');
  background-color: transparent;
  border: none;
  border-bottom: 1px solid color('gray-dark');

  &:focus {
    border-bottom: 1px solid color('primary');
    outline: none;
  }

  &::placeholder {
    color: color('text-dark-medium-emphasis');
  }

  &:disabled,
  &[disabled] {
    color: color('text-dark-disabled');
  }

  &:read-only {
    border-bottom: none;
  }
}
