@import '@myntra/uikit-design';

@mixin ui-input-style {
  padding: ui-context-size('s') ui-context-size('l') ui-context-size('2xs') 0;
  font-size: inherit;
  color: ui-text-color(dark);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid ui-color(gray, dark);

  &:focus {
    border-bottom: 1px solid ui-color(primary);
    outline: none;
  }

  &::placeholder {
    color: ui-text-color(dark, mid-emphasis);
  }

  &:disabled,
  &[disabled] {
    color: ui-text-color(dark, disabled);
  }

  &:read-only {
    border-bottom: none;
  }
}
