.nowrap {
  white-space: nowrap;
}

.top-bar {
  position: relative;
  margin-bottom: 48px;
}

.head {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  height: 64px;
  width: 100%;
  background-color: var(--color-gray-xx-light);
  border-bottom: 1px solid var(--color-gray-base);
  z-index: var(--z-index-top-bar, 1000);
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-left {
  padding-left: var(--size-base);
  flex-grow: 0;
}

.title {
  text-transform: uppercase;
  color: var(--typography-color-dark-secondary);
  font-size: var(--typography-text-title-font-size);
  font-weight: var(--typography-text-title-font-weight);
  line-height: var(--typography-text-title-line-height);
  margin: 0;
  padding: 0;
}

.content-right {
  flex-grow: 0;
}

.embeds {
  flex-grow: 1;
}

.inline {
  display: inline;
}
