@import '@design';

.day {
  --day-size: 2.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--day-size);
  height: var(--day-size);
  margin: 0;
  user-select: none;
  transition: all 250ms;

  &.today {
    color: ui-text-color('primary');
  }

  &.focused {
    box-shadow: ui-shadow('raised');
  }

  &.focused:not(.selected) {
    border-radius: var(--day-size);
  }

  &.selected {
    color: ui-text-color('light');
    background-color: ui-color('primary');
  }

  &.selected.start {
    border-top-left-radius: var(--day-size);
    border-bottom-left-radius: var(--day-size);
  }

  &.selected.end {
    border-top-right-radius: var(--day-size);
    border-bottom-right-radius: var(--day-size);
  }

  &.disabled {
    color: ui-text-color('dark', 'disabled');
    cursor: not-allowed;
  }

  &.selected.disabled {
    background-color: ui-color('gray', 'dark');
  }

  &.empty,
  &.empty.disabled {
    color: transparent;
  }
}
