@import '@accoutrement';

.menu {
  @include margin-left('small');

  vertical-align: middle;
}

.items {
  max-height: 300px;
  background: color('white');
}

.container {
  :global(.u-button-container) + :global(.u-button-container) {
    @include margin-left('small');
  }
}
