@import '@design';

$-alert: () !default;
$-alert: merge(
  (
    shape: (
      border-radius: ui-relative-border-radius(),
    ),
    surface: (
      border: 1px solid,
    ),
  ),
  $-alert
);

.alert {
  $types: (
    'primary': 'primary',
    'error': 'red',
    'warning': 'yellow',
    'success': 'green',
  );

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: ui-relative-size(xs);
  padding-left: ui-relative-size();
  margin-bottom: 0.25rem;
  color: ui-text-color('light');

  @include extract($-alert);

  @each $name, $color in $types {
    &.#{$name} {
      color: ui-text-color($color);
      background-color: ui-color($color, 'lighter');
      border-color: ui-color($color);

      &.solid {
        background-color: ui-color($color);
      }
    }
  }

  &.solid {
    color: ui-text-color('light');
  }

  .content {
    flex: 1;
    margin-left: ui-relative-space();
  }

  .close {
    margin: (-ui-relative-size(xs));
    margin-left: 0;
  }
}
