@import '@accoutrement';

#app,
.layout-container {
  height: 100%;
}

.layout-main {
  padding: 1rem;
  overflow: auto;
  position: relative;
  height: 100%;

  h1[id]::before,
  h2[id]::before,
  h3[id]::before,
  h4[id]::before,
  h5[id]::before {
    content: ' ';
    display: block;
    visibility: hidden;
    width: 0px;
    padding-top: 60px;
    margin-top: -60px;
  }
}

.anchor-link {
  margin-right: 4px;
  margin-left: -20px;
  transition: opacity 0.35s fade-in;
  opacity: 0;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link,
.anchor-link:hover {
  opacity: 1;
}

a {
  text-decoration: underline;
}

a[href^='#'] {
  height: 28px;
  display: inline-block;
}

h1 {
  @include typography('h1');
}
h2 {
  @include typography('h2');
}
h3 {
  @include typography('h3');
}
h4 {
  @include typography('h4');
}

h1,
h2,
h3,
h4,
p {
  margin: 0.5em 0;
}

p,
article,
section {
  @include typography('body');
}

details > summary {
  cursor: pointer;
}
