$paddings: (
  'none': 0,
  'default': '#4x',
  'alert': '#padding-default',
  'button': '#3x' '#10x',
  'icon-button': '#3x',
  'table.th': '#2x',
  'table.td': '#2x',
);

$-tokens-paddings: () !default;

$paddings: map-merge($paddings, $-tokens-paddings);

@include add-sizes(map-prefix($paddings, 'padding-'));
