$radius: (
  'default': 0,
  'banner': '#default',
  'button': '#5x',
  'button.circle': '#5x',
  'tooltip': '#1x',
  'nav-bar.item': '#8x',
);

$-tokens-radius: () !default;

$radius: map-merge($radius, $-tokens-radius);

@include add-sizes(map-prefix($radius, 'radius-'));
