$radius: (
  'default': 0,
  'banner': '#default',
  'button': '#5x',
);

$-tokens-radius: () !default;

$radius: map-merge($radius, $-tokens-radius);

@include add-sizes(map-prefix($radius, 'radius-'));
