.nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-gray-xx-light);
  box-shadow: var(--shadow-light-small);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.35s ease-in-out;
  z-index: var(--z-index-nav-bar, 1101);
}

.nav.collapsed {
  box-shadow: none;
  width: 49px;
  border-right: solid 1px var(--color-gray-base);
}

.nav .title {
  white-space: nowrap;
  text-overflow: clip;
  height: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-bottom: solid 1px var(--color-gray-base);
}

.nav .title .content {
  display: flex;
  font-size: var(--typography-heading-h4-font-size);
  font-weight: var(--typography-heading-h4-font-weight);
}

.nav .title .icon {
  padding: 0 var(--size-small);
}

.menu {
  list-style-type: none;
  padding: 0;
}
