.component {
  min-height: 90vh;
  position: relative;
}

.content {
  width: 600px;
  transition: transform 0.35s;
  margin: 32px auto 120px;
}

.editor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: calc(100% - 694px);
  transition: all 0.35s;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 900;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.editor .code-preview--refresh {
  right: 42px;
}

.active .editor {
  left: 694px;
}

.active .content {
  transform: translate(calc(-50vw + 325px), 0);
}

.editor .close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10001;
}

.editor .preview {
  background: #f3f3f3;
  height: 35%;
  padding: 32px 16px 16px;
  overflow: auto;
}

.monaco {
  flex: 1;
}

.grid-example {
  flex: 1;
  width: 500px;
}

.grid-example [class*=column]:not([class*=columns]) {
  text-align: center;
}

.grid-example [class*=column]:not([class*=columns]) > * {
  background: #efefef;
  border: 1px solid #ccc;
  padding: 0.75rem;
}
