@import '@myntra/uikit-design';

$-nav-bar-item: () !default;
$-nav-bar-item: merge(
  (
    icon-size: 2rem,
    space: ui-relative-size(xs)
  ),
  $-nav-bar-item
);

.nav-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: map-get($-nav-bar-item, space) 1px;
  list-style: none;
  cursor: pointer;

  &:focus,
  &:focus-within {
    outline: 1px dashed ui-color(primary, light);
  }

  &:focus-visible {
    outline: 1px dashed ui-color(primary, light);
  }

  &:focus:not(:focus-visible) &:focus-within:not(:focus-visible) {
    outline: none;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  *:focus {
    outline: none;
  }
}

.is-active {
  background-color: ui-color(primary, lighter);
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: map-get($-nav-bar-item, icon-size);
  height: map-get($-nav-bar-item, icon-size);
  margin-right: ui-relative-size(s);
  font-size: map-get($-nav-bar-item, icon-size) * 0.75;
}
