@import '@myntra/uikit-design';

.group {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  .group {
    margin-left: 2.25rem;
  }

  .group-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
  }

  .group-title {
    flex: 1;
    white-space: nowrap;
  }

  .group-expand {
    margin-left: 0.75rem;
    font-size: 0.75rem;
  }
}
