@import '@myntra/uikit-design';

$-nav-bar: () !default;
$-nav-bar: merge(
  (
    icon-size: 16px,
    close-width: 56px,
    open-width: 252px
  ),
  $-nav-bar
);

.nav {
  z-index: ui-z-index(nav);
  box-sizing: border-box;
  width: map-get($-nav-bar, 'close-width');
  height: 100%;
  overflow: hidden;
  background-color: white;
  border-right: 1px solid ui-color(gray);
  transition: width 0.35s ease-in-out;

  @include extract($-nav-bar);

  &:hover,
  &.is-open {
    width: map-get($-nav-bar, 'open-width');
    overflow-y: auto;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.21);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px dashed ui-color(primary, light);
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: map-get($-nav-bar, 'open-width');
    padding: 0.75rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    border-bottom: 1px solid ui-color(gray);

    img {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.75rem;
      object-fit: contain;
    }

    .hamburger {
      box-sizing: content-box;
      width: map-get($-nav-bar, 'icon-size');
      height: map-get($-nav-bar, 'icon-size');
      padding: 4px;
      margin-right: 1rem;
      font-size: map-get($-nav-bar, 'icon-size');
    }
  }

  .body {
    box-sizing: border-box;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
