@import '@myntra/uikit-design';

$-nav-bar: () !default;
$-nav-bar: merge(
  (
    close-width: 54px,
    open-width: 240px,
    surface: (
      background-color: white,
      box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.21)
    )
  ),
  $-nav-bar
);

$-nav-bar--header: () !default;
$-nav-bar--header: merge(
  (
    height: 64px,
    surface: (
      background-color: white
    ),
    shape: (
      padding: 0 ui-relative-size('s'),
      border-bottom: 1px solid ui-color(gray)
    )
  ),
  $-nav-bar--header
);

$-nav-bar--body: () !default;
$-nav-bar--body: merge((), $-nav-bar--body);

.nav {
  z-index: ui-z-index(nav);
  width: map-get($-nav-bar, 'close-width');
  overflow: hidden;
  transition: width 0.35s ease-in-out;

  @include extract($-nav-bar);

  &:hover,
  &.is-open {
    width: map-get($-nav-bar, 'open-width');
    overflow-y: auto;
  }

  &:focus {
    outline: 1px dashed ui-color(primary, light);
  }

  &:focus-visible {
    outline: 1px dashed ui-color(primary, light);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: map-get($-nav-bar, 'open-width');
  height: map-get($-nav-bar--header, 'height');
  overflow: hidden;
  white-space: nowrap;

  @include extract($-nav-bar--header);

  img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: ui-relative-size('s');
    object-fit: contain;
  }
}

.body {
  width: map-get($-nav-bar, 'open-width') - 2 * ui-size(s);
  padding-right: ui-relative-size(s);
  padding-left: ui-relative-size(s);

  @include extract($-nav-bar--body);
}
