@import '@accoutrement';

.nav {
  box-sizing: border-box;
  width: size('nav-bar.min-width');
  height: 100%;
  overflow: hidden;
  background-color: color('nav-bar.background');

  @include z-index('nav-bar');
  @include transition('nav-bar');
  @include border-right('nav-bar');

  border-color: color('nav-bar.border');

  &:hover,
  &.is-open {
    @include shadow('nav-bar');

    width: size('nav-bar.max-width');
    overflow-y: auto;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include outline('nav-bar');
  }

  .header {
    @include border-bottom('nav-bar');

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: size('nav-bar.max-width');
    height: 56px;
    padding: 0.75rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    background-color: color('nav-bar.background');
    border-color: color('nav-bar.border');

    @include typography('h3');

    img {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.75rem;
      object-fit: contain;
    }

    .hamburger {
      @include padding('small');
      @include margin-right('large');

      box-sizing: content-box;
      width: size('nav-bar.icon');
      height: size('nav-bar.icon');
      font-size: size('nav-bar.icon');
    }
  }

  .body {
    @include padding('nav-bar.body');

    box-sizing: border-box;
  }
}
