@import '@myntra/uikit-design';

$-nav-bar-item: () !default;
$-nav-bar-item: merge(
  (
    icon-size: 24px,
    space: ui-relative-size(xs)
  ),
  $-nav-bar-item
);

.item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem -0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  border-radius: 2rem;

  &:hover {
    background-color: ui-color(gray, lightest);
  }

  &:focus,
  &:focus-within {
    outline: none;
  }

  &:focus-visible {
    outline: 1px dashed ui-color(primary, light);
  }

  a {
    flex: 1;
    color: currentColor;
    text-decoration: none;
  }

  *:focus {
    outline: none;
  }

  .is-active {
    background-color: ui-color(primary, lighter);
  }

  .item-icon {
    display: inline-flex;
    flex: 0 0 map-get($-nav-bar-item, icon-size);
    align-items: center;
    justify-content: center;
    width: map-get($-nav-bar-item, icon-size);
    height: map-get($-nav-bar-item, icon-size);
    margin-right: ui-relative-size(s);
    font-size: 1.25rem;
  }

  &.no-icon {
    padding-left: 0.75rem;
    .item-icon {
      display: none;
    }
  }
}
