html {
  height: 100%;
  font-size: 12px;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  grid-template:
    "head main" minmax(80px, 10vh)
    "side main" minmax(20%, 80vh)
    "foot main" minmax(80px, 10vh) / 250px 1fr;
  height: 100%;
}
.app > * {
  padding: 1rem;
}
.app > .header {
  grid-area: head;
}
.app > .sidebar {
  grid-area: side;
}
.app > .main {
  grid-area: main;
  overflow: auto;
}
.app > .footer {
  grid-area: foot;
}

.sidebar > a {
  display: block;
}

.sidebar-sep {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}

.card {
  padding: 32px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
