@import '@myntra/tokens/tokens.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font-face-default);
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--color-gray-xx-light);
}

h1 {
  font-size: var(--typography-heading-h1-font-size);
  font-weight: var(--typography-heading-h1-font-weight);
  line-height: var(--typography-heading-h1-line-height);
}

h2 {
  font-size: var(--typography-heading-h2-font-size);
  font-weight: var(--typography-heading-h2-font-weight);
  line-height: var(--typography-heading-h2-line-height);
}

h3 {
  font-size: var(--typography-heading-h3-font-size);
  font-weight: var(--typography-heading-h3-font-weight);
  line-height: var(--typography-heading-h3-line-height);
}

h4 {
  font-size: var(--typography-heading-h4-font-size);
  font-weight: var(--typography-heading-h4-font-weight);
  line-height: var(--typography-heading-h4-line-height);
}

p,
div {
  font-size: var(--typography-text-paragraph-font-size);
  font-weight: var(--typography-text-paragraph-font-weight);
  line-height: var(--typography-text-paragraph-line-height);
}

a,
a:visited,
a:focus,
a:active {
  color: var(--color-primary);
  text-decoration: none;
}

.main {
  margin-left: 49px;
  transition: all 0.35s ease-in-out;
}

.main.open {
  margin-left: 250px;
}

.breadcrumb {
  text-transform: capitalize;
}

.page .content {
  overflow: hidden;
  padding: 0 1.5rem;
}

.card {
  padding: 32px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.grid-example [class*=column]:not([class*=columns]) {
  text-align: center;
}

.grid-example [class*=column]:not([class*=columns]) > * {
  background: #efefef;
  border: 1px solid #ccc;
  padding: 0.75rem;
}

.page {
  margin-bottom: 2rem;
}

.component-status.deprecated {
  color: var(--color-error);
}

.component-status.experimental {
  color: var(--color-warning);
}

.component-status.reviewing {
  color: var(--color-info);
}

.component-status.ready {
  color: var(--color-success);
}
