@import '../Input/Input.css';

.input {
  display: inline-block;
  border-bottom-color: transparent;
  padding-right: var(--relative-size-x-small);
}

.target {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.checkbox {
  display: inline-block;
  margin: 0.07em 0.015em -0.07em 0.18em;
  height: 0.84em;
  width: 0.86em;
  background: white;
  border-radius: 0.08em;
  border: 0.0714em solid var(--color-black-light);
  transition: box-shadow 0.2s, background-color 0.2s;
}

.target:checked + .checkbox {
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z" fill="white"/></g></svg>');
  background-size: 0.7em;
  background-position: center;
  background-repeat: no-repeat;
}

.target:focus + .checkbox {
  box-shadow: var(--shadow-light-small);
}

.target[disabled] + .checkbox {
  background-color: var(--color-gray-light);
  border-color: var(--color-gray-dark);
}

.target[disabled]:checked + .checkbox {
  background-color: var(--color-gray-dark);
}

.target:checked:not([disabled]) + .checkbox {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
