@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.input {
  @include mixin-input-component();

  width: 100%;
}

/* Hide number spinner box on Firefox & Edge. */
.input:not(:focus) {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* Hide number spinner box on Chrome & Safari. */
.input::-webkit-inner-spin-button:not(:focus),
.input::-webkit-outer-spin-button:not(:focus) {
  visibility: hidden;
}
