.component {
  position: relative;
}

.content {
  max-width: 800px;
  margin: auto;
  transition: transform 0.35s;
}

.editor {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 110%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: var(--editor-width);
  overflow: hidden;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

.active .editor {
  left: var(--editor-position);
}

.active .content {
  transform: var(--content-position);
}

.editor .preview {
  min-width: 200px;
  height: 35%;
  min-height: 200px;
  padding: 32px 16px 16px;
  overflow: auto;
  background: #f3f3f3;
}

.monaco {
  flex: 1;
}

.grid-example {
  flex: 1;
  width: 500px;
}

.grid-example ._u-grid-column > div {
  box-sizing: border-box;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  background: #efefef;
  border: 1px solid #ccc;
}

.preview .code-preview-button-container {
  opacity: 1;
}
