.container {
  margin-bottom: var(--size-small);
}

.title {
  display: block;
  font-size: var(--typography-text-caption-font-size);
  line-height: var(--typography-text-caption-line-height);
  text-transform: uppercase;
}

.meta {
  height: var(--typography-text-caption-line-height);
  margin-top: var(--size-xx-small);
  margin-bottom: calc(-1 * var(--size-small));
  overflow: hidden;
}

.meta:hover {
  overflow: visible;
}

.meta > * {
  font-size: var(--typography-text-caption-font-size);
  line-height: var(--typography-text-caption-line-height);
  color: var(--typography-color-dark-secondary);
}

.meta > [role="alert"] {
  color: var(--typography-color-error-primary);
}
