.wrapper {
  position: relative;
}

.scroller {
  overflow-x: auto;
  overflow-y: visible;
}

.wrapper .freeze {
  position: absolute;
}

.table {
  min-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--color-gray-base);
}

div.table {
  display: table;
}

.table.fixed {
  table-layout: fixed;
}

.table .thead {
  border-bottom: 2px solid var(--color-gray-base);
}

.table div.thead {
  width: 100%;
  display: table-header-group;
}

.table div.tbody {
  width: 100%;
  display: table-row-group;
  position: relative;
}

.table .row {
  display: table-row;
}

.row:hover {
  background-color: var(--color-primary-x-light);
}

.table .col {
  display: table-cell;
  border: 1px solid var(--color-gray-base);
  padding: 0.75rem;
  white-space: nowrap;
  vertical-align: middle;
}

.table .col.head {
  background-color: var(--color-gray-light);
  font-weight: bold;
  vertical-align: bottom;
}

.sentinel {
  position: absolute;
  margin-left: -1px;
  border: 1px solid var(--color-gray-base);
  width: 100%;
}
