@import '@design';

.img {
  display: block;
  outline: none;
  animation: fadeIn 350ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading {
  display: none;
}

.image-container {
  display: inline-block;
}

.bg-error {
  background: ui-color('red', lighter);
}
