:root {
  --color-primary: rgba(79, 71, 200, 1);
  --color-secondary: rgba(79, 71, 200, 1);
  --color-accent: rgba(79, 71, 200, 1);
  --color-success: rgb(96, 184, 122);
  --color-error: rgb(212, 106, 104);
  --color-warning: rgb(240, 186, 84);
  --color-info: rgb(82, 142, 230);
  --color-black-dark: rgb(0, 0, 0);
  --color-black-base: rgba(0, 0, 0, .87);
  --color-black-light: rgba(0, 0, 0, .54);
  --color-black-x-light: rgba(0, 0, 0, .27);
  --color-white-base: rgba(255, 255, 255, 1);
  --color-white-light: rgba(255, 255, 255, .7);
  --color-white-x-light: rgba(255, 255, 255, .5);
  --color-nuclei-blue-base: rgba(79, 71, 200, 1);
  --color-nuclei-blue-light: rgba(170, 166, 228, 1);
  --color-blue-base: rgb(82, 142, 230);
  --color-gray-xx-light: rgb(249, 249, 249);
  --color-gray-x-light: rgb(244, 246, 248);
  --color-gray-light: rgb(238, 238, 238);
  --color-gray-base: rgb(230, 230, 230);
  --color-gray-dark: rgb(212, 212, 212);
  --color-green-base: rgb(96, 184, 122);
  --color-yellow-base: rgb(240, 186, 84);
  --color-red-base: rgb(212, 106, 104);
  --color-transparent-base: rgba(0, 0, 0, 0);
  --font-size-x-small: 0.83333rem;
  --font-size-small: 0.91667rem;
  --font-size-base: 1rem;
  --font-size-large: 1.16667rem;
  --font-size-x-large: 1.33333rem;
  --font-size-xx-large: 1.66667rem;
  --font-size-xxx-large: 2rem;
  --font-size-xxxx-large: 2.33333rem;
  --font-height-x-small: 0.91667rem;
  --font-height-small: 1.08333rem;
  --font-height-base: 1.16667rem;
  --font-height-large: 1.33333rem;
  --font-height-x-large: 1.75rem;
  --font-height-xx-large: 2rem;
  --font-height-xxx-large: 2.33333rem;
  --font-height-xxxx-large: 2.75rem;
  --font-face-default: Roboto, Helvetica, sans-serif;
  --font-face-accent: "Roboto Condensed", sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --opacity-x-light: 0.1;
  --opacity-light: 0.2;
  --opacity-base: 0.5;
  --opacity-dark: 0.75;
  --shadow-light-small: 0px 2px 8px 0px rgba(0, 0, 0, .27);
  --shadow-dark-small: 0px 2px 4px 0px rgba(0, 0, 0, .87);
  --shadow-dark-large: 0px 2px 8px 0px rgba(0, 0, 0, .87);
  --shape-error-background-color: rgb(212, 106, 104);
  --shape-error-border-color: rgba(0, 0, 0, 0);
  --shape-error-color: rgba(255, 255, 255, 1);
  --shape-info-background-color: rgb(82, 142, 230);
  --shape-info-border-color: rgba(0, 0, 0, 0);
  --shape-info-color: rgba(255, 255, 255, 1);
  --shape-success-background-color: rgb(96, 184, 122);
  --shape-success-border-color: rgba(0, 0, 0, 0);
  --shape-success-color: rgba(255, 255, 255, 1);
  --shape-warning-background-color: rgb(240, 186, 84);
  --shape-warning-border-color: rgba(0, 0, 0, 0);
  --shape-warning-color: rgba(255, 255, 255, 1);
  --shape-outline-error-background-color: rgba(0, 0, 0, 0);
  --shape-outline-error-border-color: rgb(212, 106, 104);
  --shape-outline-error-color: rgb(212, 106, 104);
  --shape-outline-info-background-color: rgba(0, 0, 0, 0);
  --shape-outline-info-border-color: rgb(82, 142, 230);
  --shape-outline-info-color: rgb(82, 142, 230);
  --shape-outline-success-background-color: rgba(0, 0, 0, 0);
  --shape-outline-success-border-color: rgb(96, 184, 122);
  --shape-outline-success-color: rgb(96, 184, 122);
  --shape-outline-warning-background-color: rgba(0, 0, 0, 0);
  --shape-outline-warning-border-color: rgb(240, 186, 84);
  --shape-outline-warning-color: rgb(240, 186, 84);
  --border-radius-button: 2em;
  --size-none: 0;
  --size-xx-small: 4px;
  --size-x-small: 8px;
  --size-small: 12px;
  --size-base: 16px;
  --size-large: 24px;
  --relative-size-none: 0;
  --relative-size-xx-small: 0.33333em;
  --relative-size-x-small: 0.66667em;
  --relative-size-small: 1em;
  --relative-size-base: 1.33333em;
  --relative-size-large: 2em;
  --typography-heading-h1-font-size: 2.33333rem;
  --typography-heading-h1-font-weight: 500;
  --typography-heading-h1-line-height: 2.75rem;
  --typography-heading-h2-font-size: 2rem;
  --typography-heading-h2-font-weight: 500;
  --typography-heading-h2-line-height: 2.33333rem;
  --typography-heading-h3-font-size: 1.66667rem;
  --typography-heading-h3-font-weight: 500;
  --typography-heading-h3-line-height: 2rem;
  --typography-heading-h4-font-size: 1.33333rem;
  --typography-heading-h4-font-weight: 500;
  --typography-heading-h4-line-height: 1.75rem;
  --typography-text-table-font-size: 1rem;
  --typography-text-table-font-weight: 400;
  --typography-text-table-line-height: 1.16667rem;
  --typography-text-paragraph-font-size: 1.16667rem;
  --typography-text-paragraph-font-weight: 400;
  --typography-text-paragraph-line-height: 1.33333rem;
  --typography-text-smallText-font-size: 0.91667rem;
  --typography-text-smallText-font-weight: 400;
  --typography-text-smallText-line-height: 1.08333rem;
  --typography-text-title-font-size: 1.16667rem;
  --typography-text-title-font-weight: 500;
  --typography-text-title-line-height: 1.33333rem;
  --typography-text-caption-font-size: 0.83333rem;
  --typography-text-caption-font-weight: 400;
  --typography-text-caption-line-height: 0.91667rem;
  --typography-color-dark-primary: rgba(0, 0, 0, .87);
  --typography-color-dark-secondary: rgba(0, 0, 0, .54);
  --typography-color-dark-disabled: rgba(0, 0, 0, .27);
  --typography-color-light-primary: rgba(255, 255, 255, 1);
  --typography-color-light-secondary: rgba(255, 255, 255, .7);
  --typography-color-light-disabled: rgba(255, 255, 255, .5);
  --typography-color-error-primary: rgb(212, 106, 104);
  --typography-color-warning-primary: rgb(240, 186, 84);
  --typography-color-success-primary: rgb(96, 184, 122);
  --typography-color-info-primary: rgb(82, 142, 230);
  --typography-color-link-primary: rgb(82, 142, 230);
  --z-index-nav: 1000;
  --z-index-modal: 1100;
  --z-index-dropdown: 1200;
}