@import '@accoutrement';

.container {
  @include padding('banner');
  @include border('banner');
  @include border-radius('banner');

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: text-color('light');

  &.primary {
    background-color: color('primary');
    border-color: color('primary');
  }

  &.error {
    background-color: color('danger');
    border-color: color('danger');
  }

  &.warning {
    background-color: color('warning');
    border-color: color('warning');
  }

  &.success {
    background-color: color('success');
    border-color: color('success');
  }

  .content {
    flex: 1;
  }

  .icon {
    width: size('3x');
    height: size('3x');
    margin-right: padding-left('banner');
    transform: scale(1.5);
    transform-origin: 0 -2px;
  }

  .title {
    @include typography('h3');
  }

  .body {
    @include typography('body');

    margin-top: margin-top('banner.body');
  }

  .close {
    margin-top: negative(size('3x'));
    svg {
      width: size('5x');
      height: size('5x');
    }
  }
}
