@import '@design';
@import '@myntra/uikit-component-input-text/style.scss';

.input {
  @include mixin-input-component();
}

.container {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  color: ui-text-color('dark', 'mid-emphasis');
  pointer-events: none;
  border-color: transparent;
}
