@import '@accoutrement';

.container {
  width: 100%;

  .button {
    display: inline-block;
    cursor: pointer;
  }

  &.disabled {
    .button {
      cursor: default;
    }

    pointer-events: none;
  }
}

// Renders in Portal
.selector {
  max-height: 360px;
  overflow: auto;
  background-color: #fff;
  box-shadow: shadow('small');
}

.list {
  background: color('white');

  &.disabled {
    pointer-events: none;
  }
}

.empty {
  padding: 0.5rem 1rem;
}
