@import '@design';
@import '@myntra/uikit-component-input-text/style.scss';

.control {
  position: relative;
  display: flex;
}

.input {
  @include mixin-input-component();
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.button {
  display: inline-block;
  cursor: pointer;
}
