@import '@design';

.container {
  width: 100%;
  &:disabled {
    cursor: not-allowed;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
}

.selector {
  max-height: 360px;
  overflow: auto;
  box-shadow: ui-shadow('raised');
}

.list {
  background: ui-color('white');
}
