@import '@design';

.container {
  width: 100%;
  &:disabled {
    cursor: not-allowed;
  }

  .button {
    display: inline-block;
    cursor: pointer;
  }
}

// Renders in Portal
.selector {
  max-height: 360px;
  overflow: auto;
  background-color: #fff;
  box-shadow: ui-shadow('raised');
}

.list {
  background: ui-color('white');
}

.empty {
  padding: 0.5rem 1rem;
}
