@import '@design';

.value {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  width: 100%;
  color: ui-text-color('dark', 'mid-emphasis');
}

.value .input {
  width: 90%;
  text-overflow: ellipsis;
  border-bottom: transparent;
}
