.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  position: absolute;
  top: 100%;
  z-index: ui-z-index(pop-over);
  transition: height 0.3s;
}

.content.fixed {
  position: fixed;
}

.dropdown > .content {
  height: 0;
}

.dropdown.open > .content {
  height: initial;
}

.content.up {
  top: initial;
  bottom: 100%;
}

.content.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.content.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.content.up.right,
.content.down.right {
  top: initial;
  right: 0;
  left: initial;
  transform: none;
}

.content.up.left,
.content.down.left {
  top: initial;
  right: initial;
  left: 0;
  transform: none;
}

.content.left.right {
  right: 0;
  left: 0;
}

.trigger > * {
  margin-right: 0;
  margin-left: 0;
}
