$tablet: 769px !default;
$desktop: 960px !default;

// -- Mixins --

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}


@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// -- Row --
.columns {
  --column-gap: var(--size-base);
  --column-inset: var(--column-gap);
  --column-outset: calc(-1 * var(--column-gap));
  display: flex;
  margin-left: var(--column-outset);
  margin-right: var(--column-outset);

  &:last-child { margin-bottom: var(--column-outset); }
  &:not(:last-child) { margin-bottom: var(--column-inset); }
  &.hcentered, &.centered { justify-content: center; }
  &.multiline { flex-wrap: wrap; }
  &.vcentered, &.centered { align-items: center; }

  @include tablet {
    &:not(.desktop) {
      display: flex;
    }
  }
  @include desktop {
    &.desktop {
      display: flex;
    }
  }
}

$named-sizes: (
  full: 100%,
  three-quarters: 75%,
  two-thirds: 66.6666%,
  half: 50%,
  one-third: 33.3333%,
  one-quarter: 25%,
  one-fifth: 20%,
  two-fifth: 40%,
  three-fifth: 60%,
  four-fifth: 80%,
);
// -- Column --
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: var(--column-inset);
  padding-right: var(--column-inset);

  &.narrow { flex: none; }

  @each $name, $value in $named-sizes {
    .columns.mobile > &.is-#{$name} { width: $value; flex: none; }
    .columns.mobile > &.offset-#{$name} { margin-left: $value; }
  }
  @for $i from 1 through 12 {
    .columns.mobile > &.is-#{$i} { width: percentage($i / 12); flex: none; }
    .columns.mobile > &.offset-#{$i} { margin-left: percentage($i / 12); }
  }

  @include mobile {
    &.narrow-mobile { flex: none; }
    @each $name, $value in $named-sizes {
      &.is-#{$name}-mobile { width: $value; flex: none; }
      &.offset-#{$name}-mobile { margin-left: $value; }
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-mobile { width: percentage($i / 12); flex: none; }
      &.offset-#{$i}-mobile { margin-left: percentage($i / 12); }
    }
  }

  @include tablet {
    &.narrow-tablet { flex: none; }
    @each $name, $value in $named-sizes {
      &.is-#{$name}, &.is-#{$name}-tablet { width: $value; flex: none; }
      &.offset-#{$name}, &.offset-#{$name}-tablet { margin-left: $value; }
    }
    @for $i from 1 through 12 {
      &.is-#{$i}, &.is-#{$i}-tablet { width: percentage($i / 12); flex: none; }
      &.offset-#{$i}, &.offset-#{$i}-tablet { margin-left: percentage($i / 12); }
    }
  }

  @include touch {
    &.narrow-touch { flex: none; }
    @each $name, $value in $named-sizes {
      &.is-#{$name}-touch { width: $value; flex: none; }
      &.offset-#{$name}-touch { margin-left: $value; }
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-touch { width: percentage($i / 12); flex: none; }
      &.offset-#{$i}-touch { margin-left: percentage($i / 12); }
    }
  }

  @include desktop {
    &.narrow-desktop { flex: none; }
    @each $name, $value in $named-sizes {
      &.is-#{$name}-desktop { width: $value; flex: none; }
      &.offset-#{$name}-desktop { margin-left: $value; }
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-desktop { width: percentage($i / 12); flex: none; }
      &.offset-#{$i}-desktop { margin-left: percentage($i / 12); }
    }
  }
}

.columns.variable-gap {
  --column-gap: var(--column-gap, 0.75rem);
  margin-left: calc(-1 * var(--column-gap));
  margin-right: calc(-1 * var(--column-gap));
  .column {
    padding-left: var(--column-gap);
    padding-right: var(--column-gap);
  }

  @each $size in 'none', 'xx-small', 'x-small', 'small', 'base', 'large' {
    &.gap-#{$size} {
      --column-gap: var(--size-#{$size});
    }
  }
}
