.columns {
  --column-gap: var(--size-base);
  --column-inset: var(--column-gap);
  --column-outset: calc(-1 * var(--column-gap));

  display: flex;
  margin-left: var(--column-outset);
  margin-right: var(--column-outset);
}

.columns:last-child {
  margin-bottom: var(--column-outset);
}

.columns:not(:last-child) {
  margin-bottom: var(--column-inset);
}

.columns.hcentered,
.columns.centered {
  justify-content: center;
}

.columns.multiline {
  flex-wrap: wrap;
}

.columns.vcentered,
.columns.centered {
  align-items: center;
}

@media screen and (min-width: 769px), print {
  .columns:not(.desktop) {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .columns.desktop {
    display: flex;
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: var(--column-inset);
  padding-right: var(--column-inset);
  overflow: paged-x;
  overflow: -webkit-paged-x;
}

.column.narrow {
  flex: none;
}

.columns.mobile > .column.is-full {
  width: 100%;
  flex: none;
}

.columns.mobile > .column.offset-full {
  margin-left: 100%;
}

.columns.mobile > .column.is-three-quarters {
  width: 75%;
  flex: none;
}

.columns.mobile > .column.offset-three-quarters {
  margin-left: 75%;
}

.columns.mobile > .column.is-two-thirds {
  width: 66.6666%;
  flex: none;
}

.columns.mobile > .column.offset-two-thirds {
  margin-left: 66.6666%;
}

.columns.mobile > .column.is-half {
  width: 50%;
  flex: none;
}

.columns.mobile > .column.offset-half {
  margin-left: 50%;
}

.columns.mobile > .column.is-one-third {
  width: 33.3333%;
  flex: none;
}

.columns.mobile > .column.offset-one-third {
  margin-left: 33.3333%;
}

.columns.mobile > .column.is-one-quarter {
  width: 25%;
  flex: none;
}

.columns.mobile > .column.offset-one-quarter {
  margin-left: 25%;
}

.columns.mobile > .column.is-one-fifth {
  width: 20%;
  flex: none;
}

.columns.mobile > .column.offset-one-fifth {
  margin-left: 20%;
}

.columns.mobile > .column.is-two-fifth {
  width: 40%;
  flex: none;
}

.columns.mobile > .column.offset-two-fifth {
  margin-left: 40%;
}

.columns.mobile > .column.is-three-fifth {
  width: 60%;
  flex: none;
}

.columns.mobile > .column.offset-three-fifth {
  margin-left: 60%;
}

.columns.mobile > .column.is-four-fifth {
  width: 80%;
  flex: none;
}

.columns.mobile > .column.offset-four-fifth {
  margin-left: 80%;
}

.columns.mobile > .column.is-1 {
  width: 8.33333%;
  flex: none;
}

.columns.mobile > .column.offset-1 {
  margin-left: 8.33333%;
}

.columns.mobile > .column.is-2 {
  width: 16.66667%;
  flex: none;
}

.columns.mobile > .column.offset-2 {
  margin-left: 16.66667%;
}

.columns.mobile > .column.is-3 {
  width: 25%;
  flex: none;
}

.columns.mobile > .column.offset-3 {
  margin-left: 25%;
}

.columns.mobile > .column.is-4 {
  width: 33.33333%;
  flex: none;
}

.columns.mobile > .column.offset-4 {
  margin-left: 33.33333%;
}

.columns.mobile > .column.is-5 {
  width: 41.66667%;
  flex: none;
}

.columns.mobile > .column.offset-5 {
  margin-left: 41.66667%;
}

.columns.mobile > .column.is-6 {
  width: 50%;
  flex: none;
}

.columns.mobile > .column.offset-6 {
  margin-left: 50%;
}

.columns.mobile > .column.is-7 {
  width: 58.33333%;
  flex: none;
}

.columns.mobile > .column.offset-7 {
  margin-left: 58.33333%;
}

.columns.mobile > .column.is-8 {
  width: 66.66667%;
  flex: none;
}

.columns.mobile > .column.offset-8 {
  margin-left: 66.66667%;
}

.columns.mobile > .column.is-9 {
  width: 75%;
  flex: none;
}

.columns.mobile > .column.offset-9 {
  margin-left: 75%;
}

.columns.mobile > .column.is-10 {
  width: 83.33333%;
  flex: none;
}

.columns.mobile > .column.offset-10 {
  margin-left: 83.33333%;
}

.columns.mobile > .column.is-11 {
  width: 91.66667%;
  flex: none;
}

.columns.mobile > .column.offset-11 {
  margin-left: 91.66667%;
}

.columns.mobile > .column.is-12 {
  width: 100%;
  flex: none;
}

.columns.mobile > .column.offset-12 {
  margin-left: 100%;
}

@media screen and (max-width: 768px) {
  .column.narrow-mobile {
    flex: none;
  }

  .column.is-full-mobile {
    width: 100%;
    flex: none;
  }

  .column.offset-full-mobile {
    margin-left: 100%;
  }

  .column.is-three-quarters-mobile {
    width: 75%;
    flex: none;
  }

  .column.offset-three-quarters-mobile {
    margin-left: 75%;
  }

  .column.is-two-thirds-mobile {
    width: 66.6666%;
    flex: none;
  }

  .column.offset-two-thirds-mobile {
    margin-left: 66.6666%;
  }

  .column.is-half-mobile {
    width: 50%;
    flex: none;
  }

  .column.offset-half-mobile {
    margin-left: 50%;
  }

  .column.is-one-third-mobile {
    width: 33.3333%;
    flex: none;
  }

  .column.offset-one-third-mobile {
    margin-left: 33.3333%;
  }

  .column.is-one-quarter-mobile {
    width: 25%;
    flex: none;
  }

  .column.offset-one-quarter-mobile {
    margin-left: 25%;
  }

  .column.is-one-fifth-mobile {
    width: 20%;
    flex: none;
  }

  .column.offset-one-fifth-mobile {
    margin-left: 20%;
  }

  .column.is-two-fifth-mobile {
    width: 40%;
    flex: none;
  }

  .column.offset-two-fifth-mobile {
    margin-left: 40%;
  }

  .column.is-three-fifth-mobile {
    width: 60%;
    flex: none;
  }

  .column.offset-three-fifth-mobile {
    margin-left: 60%;
  }

  .column.is-four-fifth-mobile {
    width: 80%;
    flex: none;
  }

  .column.offset-four-fifth-mobile {
    margin-left: 80%;
  }

  .column.is-1-mobile {
    width: 8.33333%;
    flex: none;
  }

  .column.offset-1-mobile {
    margin-left: 8.33333%;
  }

  .column.is-2-mobile {
    width: 16.66667%;
    flex: none;
  }

  .column.offset-2-mobile {
    margin-left: 16.66667%;
  }

  .column.is-3-mobile {
    width: 25%;
    flex: none;
  }

  .column.offset-3-mobile {
    margin-left: 25%;
  }

  .column.is-4-mobile {
    width: 33.33333%;
    flex: none;
  }

  .column.offset-4-mobile {
    margin-left: 33.33333%;
  }

  .column.is-5-mobile {
    width: 41.66667%;
    flex: none;
  }

  .column.offset-5-mobile {
    margin-left: 41.66667%;
  }

  .column.is-6-mobile {
    width: 50%;
    flex: none;
  }

  .column.offset-6-mobile {
    margin-left: 50%;
  }

  .column.is-7-mobile {
    width: 58.33333%;
    flex: none;
  }

  .column.offset-7-mobile {
    margin-left: 58.33333%;
  }

  .column.is-8-mobile {
    width: 66.66667%;
    flex: none;
  }

  .column.offset-8-mobile {
    margin-left: 66.66667%;
  }

  .column.is-9-mobile {
    width: 75%;
    flex: none;
  }

  .column.offset-9-mobile {
    margin-left: 75%;
  }

  .column.is-10-mobile {
    width: 83.33333%;
    flex: none;
  }

  .column.offset-10-mobile {
    margin-left: 83.33333%;
  }

  .column.is-11-mobile {
    width: 91.66667%;
    flex: none;
  }

  .column.offset-11-mobile {
    margin-left: 91.66667%;
  }

  .column.is-12-mobile {
    width: 100%;
    flex: none;
  }

  .column.offset-12-mobile {
    margin-left: 100%;
  }
}

@media screen and (min-width: 769px),
  print {
  .column.narrow-tablet {
    flex: none;
  }

  .column.is-full,
  .column.is-full-tablet {
    width: 100%;
    flex: none;
  }

  .column.offset-full,
  .column.offset-full-tablet {
    margin-left: 100%;
  }

  .column.is-three-quarters,
  .column.is-three-quarters-tablet {
    width: 75%;
    flex: none;
  }

  .column.offset-three-quarters,
  .column.offset-three-quarters-tablet {
    margin-left: 75%;
  }

  .column.is-two-thirds,
  .column.is-two-thirds-tablet {
    width: 66.6666%;
    flex: none;
  }

  .column.offset-two-thirds,
  .column.offset-two-thirds-tablet {
    margin-left: 66.6666%;
  }

  .column.is-half,
  .column.is-half-tablet {
    width: 50%;
    flex: none;
  }

  .column.offset-half,
  .column.offset-half-tablet {
    margin-left: 50%;
  }

  .column.is-one-third,
  .column.is-one-third-tablet {
    width: 33.3333%;
    flex: none;
  }

  .column.offset-one-third,
  .column.offset-one-third-tablet {
    margin-left: 33.3333%;
  }

  .column.is-one-quarter,
  .column.is-one-quarter-tablet {
    width: 25%;
    flex: none;
  }

  .column.offset-one-quarter,
  .column.offset-one-quarter-tablet {
    margin-left: 25%;
  }

  .column.is-one-fifth,
  .column.is-one-fifth-tablet {
    width: 20%;
    flex: none;
  }

  .column.offset-one-fifth,
  .column.offset-one-fifth-tablet {
    margin-left: 20%;
  }

  .column.is-two-fifth,
  .column.is-two-fifth-tablet {
    width: 40%;
    flex: none;
  }

  .column.offset-two-fifth,
  .column.offset-two-fifth-tablet {
    margin-left: 40%;
  }

  .column.is-three-fifth,
  .column.is-three-fifth-tablet {
    width: 60%;
    flex: none;
  }

  .column.offset-three-fifth,
  .column.offset-three-fifth-tablet {
    margin-left: 60%;
  }

  .column.is-four-fifth,
  .column.is-four-fifth-tablet {
    width: 80%;
    flex: none;
  }

  .column.offset-four-fifth,
  .column.offset-four-fifth-tablet {
    margin-left: 80%;
  }

  .column.is-1,
  .column.is-1-tablet {
    width: 8.33333%;
    flex: none;
  }

  .column.offset-1,
  .column.offset-1-tablet {
    margin-left: 8.33333%;
  }

  .column.is-2,
  .column.is-2-tablet {
    width: 16.66667%;
    flex: none;
  }

  .column.offset-2,
  .column.offset-2-tablet {
    margin-left: 16.66667%;
  }

  .column.is-3,
  .column.is-3-tablet {
    width: 25%;
    flex: none;
  }

  .column.offset-3,
  .column.offset-3-tablet {
    margin-left: 25%;
  }

  .column.is-4,
  .column.is-4-tablet {
    width: 33.33333%;
    flex: none;
  }

  .column.offset-4,
  .column.offset-4-tablet {
    margin-left: 33.33333%;
  }

  .column.is-5,
  .column.is-5-tablet {
    width: 41.66667%;
    flex: none;
  }

  .column.offset-5,
  .column.offset-5-tablet {
    margin-left: 41.66667%;
  }

  .column.is-6,
  .column.is-6-tablet {
    width: 50%;
    flex: none;
  }

  .column.offset-6,
  .column.offset-6-tablet {
    margin-left: 50%;
  }

  .column.is-7,
  .column.is-7-tablet {
    width: 58.33333%;
    flex: none;
  }

  .column.offset-7,
  .column.offset-7-tablet {
    margin-left: 58.33333%;
  }

  .column.is-8,
  .column.is-8-tablet {
    width: 66.66667%;
    flex: none;
  }

  .column.offset-8,
  .column.offset-8-tablet {
    margin-left: 66.66667%;
  }

  .column.is-9,
  .column.is-9-tablet {
    width: 75%;
    flex: none;
  }

  .column.offset-9,
  .column.offset-9-tablet {
    margin-left: 75%;
  }

  .column.is-10,
  .column.is-10-tablet {
    width: 83.33333%;
    flex: none;
  }

  .column.offset-10,
  .column.offset-10-tablet {
    margin-left: 83.33333%;
  }

  .column.is-11,
  .column.is-11-tablet {
    width: 91.66667%;
    flex: none;
  }

  .column.offset-11,
  .column.offset-11-tablet {
    margin-left: 91.66667%;
  }

  .column.is-12,
  .column.is-12-tablet {
    width: 100%;
    flex: none;
  }

  .column.offset-12,
  .column.offset-12-tablet {
    margin-left: 100%;
  }
}

@media screen and (max-width: 959px) {
  .column.narrow-touch {
    flex: none;
  }

  .column.is-full-touch {
    width: 100%;
    flex: none;
  }

  .column.offset-full-touch {
    margin-left: 100%;
  }

  .column.is-three-quarters-touch {
    width: 75%;
    flex: none;
  }

  .column.offset-three-quarters-touch {
    margin-left: 75%;
  }

  .column.is-two-thirds-touch {
    width: 66.6666%;
    flex: none;
  }

  .column.offset-two-thirds-touch {
    margin-left: 66.6666%;
  }

  .column.is-half-touch {
    width: 50%;
    flex: none;
  }

  .column.offset-half-touch {
    margin-left: 50%;
  }

  .column.is-one-third-touch {
    width: 33.3333%;
    flex: none;
  }

  .column.offset-one-third-touch {
    margin-left: 33.3333%;
  }

  .column.is-one-quarter-touch {
    width: 25%;
    flex: none;
  }

  .column.offset-one-quarter-touch {
    margin-left: 25%;
  }

  .column.is-one-fifth-touch {
    width: 20%;
    flex: none;
  }

  .column.offset-one-fifth-touch {
    margin-left: 20%;
  }

  .column.is-two-fifth-touch {
    width: 40%;
    flex: none;
  }

  .column.offset-two-fifth-touch {
    margin-left: 40%;
  }

  .column.is-three-fifth-touch {
    width: 60%;
    flex: none;
  }

  .column.offset-three-fifth-touch {
    margin-left: 60%;
  }

  .column.is-four-fifth-touch {
    width: 80%;
    flex: none;
  }

  .column.offset-four-fifth-touch {
    margin-left: 80%;
  }

  .column.is-1-touch {
    width: 8.33333%;
    flex: none;
  }

  .column.offset-1-touch {
    margin-left: 8.33333%;
  }

  .column.is-2-touch {
    width: 16.66667%;
    flex: none;
  }

  .column.offset-2-touch {
    margin-left: 16.66667%;
  }

  .column.is-3-touch {
    width: 25%;
    flex: none;
  }

  .column.offset-3-touch {
    margin-left: 25%;
  }

  .column.is-4-touch {
    width: 33.33333%;
    flex: none;
  }

  .column.offset-4-touch {
    margin-left: 33.33333%;
  }

  .column.is-5-touch {
    width: 41.66667%;
    flex: none;
  }

  .column.offset-5-touch {
    margin-left: 41.66667%;
  }

  .column.is-6-touch {
    width: 50%;
    flex: none;
  }

  .column.offset-6-touch {
    margin-left: 50%;
  }

  .column.is-7-touch {
    width: 58.33333%;
    flex: none;
  }

  .column.offset-7-touch {
    margin-left: 58.33333%;
  }

  .column.is-8-touch {
    width: 66.66667%;
    flex: none;
  }

  .column.offset-8-touch {
    margin-left: 66.66667%;
  }

  .column.is-9-touch {
    width: 75%;
    flex: none;
  }

  .column.offset-9-touch {
    margin-left: 75%;
  }

  .column.is-10-touch {
    width: 83.33333%;
    flex: none;
  }

  .column.offset-10-touch {
    margin-left: 83.33333%;
  }

  .column.is-11-touch {
    width: 91.66667%;
    flex: none;
  }

  .column.offset-11-touch {
    margin-left: 91.66667%;
  }

  .column.is-12-touch {
    width: 100%;
    flex: none;
  }

  .column.offset-12-touch {
    margin-left: 100%;
  }
}

@media screen and (min-width: 960px) {
  .column.narrow-desktop {
    flex: none;
  }

  .column.is-full-desktop {
    width: 100%;
    flex: none;
  }

  .column.offset-full-desktop {
    margin-left: 100%;
  }

  .column.is-three-quarters-desktop {
    width: 75%;
    flex: none;
  }

  .column.offset-three-quarters-desktop {
    margin-left: 75%;
  }

  .column.is-two-thirds-desktop {
    width: 66.6666%;
    flex: none;
  }

  .column.offset-two-thirds-desktop {
    margin-left: 66.6666%;
  }

  .column.is-half-desktop {
    width: 50%;
    flex: none;
  }

  .column.offset-half-desktop {
    margin-left: 50%;
  }

  .column.is-one-third-desktop {
    width: 33.3333%;
    flex: none;
  }

  .column.offset-one-third-desktop {
    margin-left: 33.3333%;
  }

  .column.is-one-quarter-desktop {
    width: 25%;
    flex: none;
  }

  .column.offset-one-quarter-desktop {
    margin-left: 25%;
  }

  .column.is-one-fifth-desktop {
    width: 20%;
    flex: none;
  }

  .column.offset-one-fifth-desktop {
    margin-left: 20%;
  }

  .column.is-two-fifth-desktop {
    width: 40%;
    flex: none;
  }

  .column.offset-two-fifth-desktop {
    margin-left: 40%;
  }

  .column.is-three-fifth-desktop {
    width: 60%;
    flex: none;
  }

  .column.offset-three-fifth-desktop {
    margin-left: 60%;
  }

  .column.is-four-fifth-desktop {
    width: 80%;
    flex: none;
  }

  .column.offset-four-fifth-desktop {
    margin-left: 80%;
  }

  .column.is-1-desktop {
    width: 8.33333%;
    flex: none;
  }

  .column.offset-1-desktop {
    margin-left: 8.33333%;
  }

  .column.is-2-desktop {
    width: 16.66667%;
    flex: none;
  }

  .column.offset-2-desktop {
    margin-left: 16.66667%;
  }

  .column.is-3-desktop {
    width: 25%;
    flex: none;
  }

  .column.offset-3-desktop {
    margin-left: 25%;
  }

  .column.is-4-desktop {
    width: 33.33333%;
    flex: none;
  }

  .column.offset-4-desktop {
    margin-left: 33.33333%;
  }

  .column.is-5-desktop {
    width: 41.66667%;
    flex: none;
  }

  .column.offset-5-desktop {
    margin-left: 41.66667%;
  }

  .column.is-6-desktop {
    width: 50%;
    flex: none;
  }

  .column.offset-6-desktop {
    margin-left: 50%;
  }

  .column.is-7-desktop {
    width: 58.33333%;
    flex: none;
  }

  .column.offset-7-desktop {
    margin-left: 58.33333%;
  }

  .column.is-8-desktop {
    width: 66.66667%;
    flex: none;
  }

  .column.offset-8-desktop {
    margin-left: 66.66667%;
  }

  .column.is-9-desktop {
    width: 75%;
    flex: none;
  }

  .column.offset-9-desktop {
    margin-left: 75%;
  }

  .column.is-10-desktop {
    width: 83.33333%;
    flex: none;
  }

  .column.offset-10-desktop {
    margin-left: 83.33333%;
  }

  .column.is-11-desktop {
    width: 91.66667%;
    flex: none;
  }

  .column.offset-11-desktop {
    margin-left: 91.66667%;
  }

  .column.is-12-desktop {
    width: 100%;
    flex: none;
  }

  .column.offset-12-desktop {
    margin-left: 100%;
  }
}

.columns.variable-gap {
  --column-gap: var(--column-gap, 0.75rem);

  margin-left: calc(-1 * var(--column-gap));
  margin-right: calc(-1 * var(--column-gap));
}

.columns.variable-gap .column {
  padding-left: var(--column-gap);
  padding-right: var(--column-gap);
}

.columns.variable-gap.gap-none {
  --column-gap: var(--size-none);
}

.columns.variable-gap.gap-xx-small {
  --column-gap: var(--size-xx-small);
}

.columns.variable-gap.gap-x-small {
  --column-gap: var(--size-x-small);
}

.columns.variable-gap.gap-small {
  --column-gap: var(--size-small);
}

.columns.variable-gap.gap-base {
  --column-gap: var(--size-base);
}

.columns.variable-gap.gap-large {
  --column-gap: var(--size-large);
}
